body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 150px;
}

.sx img {
  height: 100px;
}

.navbar li {
  display: inline;
  margin-right: 10px;
  font-size: 25px;
}
.navbar li:hover {
  opacity: 0.5;
}
